---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



:root { font-size: 11pt; }
table { font-size: 1rem; }

@media (prefers-color-scheme: dark) {
   :root { filter: invert(100%); }
   div.page__hero--overlay, div.archive__item-teaser { filter: invert(100%); }
   img:not([src*=".svg"]), video { filter: invert(100%); }
   img.mhicon { filter: invert(0); }
}

// Feature row and items
.feature__wrapper a:link { color: #000; text-decoration: none; }
.feature__wrapper a:visited { color: #000; text-decoration: none; }
.feature__wrapper a:hover { color: #000; text-decoration: none !important; }
.feature__wrapper a:active { color: #000; text-decoration: none; }

.feature__wrapper div:has(> a:hover) { background-color: #eee; border-color: #000; }
.feature__item { border: 1px solid #000; margin-bottom: 1em; }

a.archive__item-teaser { border: none; }
a.archive__item-body { border: none; }
h2.archive__item-title { text-align: center; }
div.archive__item-teaser img { width: 30%;  padding: 0; box-shadow: none !important; margin: 10% 35% 0 35%; }
div.archive__item-excerpt { margin: 0 5%; }

// Left navigation bar
ul.collapsible li::after {
    content: "";
    display: absolute;
    top: 0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    vertical-align: middle;
}
ul.collapsible li:has(ul)::after {
    background-image: url("../images/ri--checkbox-indeterminate-line.png");
}
ul.collapsible li:has(ul.hidden)::after {
    background-image: url("../images/ri--add-box-line.png");
}

ul.nav__items a { display: inline-block; padding: 0; margin: 0; }
ul.nav__items li { margin-top: 1rem; margin-bottom: 1rem; }
ul.nav__items ul { padding-left: 0.5rem; }

div.sidebar li, .toc { font-size: 0.9rem; }
.nav__sub-title { font-size: 0.9rem; text-transform: none; padding: 0; margin: 0; }

// Right navigation bar
nav.toc h4.nav__title, nav.toc li { font-size: 0.8rem; }

@media (min-width: 1024px) {
    nav.toc { margin-left: 1rem; }
}

ul.faceted a { display: inline; font-weight: normal; padding: 0; border: 0; }
ul.faceted a.selected { font-weight: 800; }
ul.faceted li { 
    padding: 0.25rem 0.75rem 0.25rem 1rem;
    text-indent: -0.5rem; 
    border-bottom: 1px solid #fff;
}

img.sortFacet { float: right; width: 20px; height: 20px; }
img.sortFacet:hover { cursor: pointer; }
img.selected { filter: invert(100%); }

// External link signifier
a.external::after {
    content: "";
    display: inline-block;
    background-image: url("../images/ri--external-link-line.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    vertical-align: bottom;
    margin-left: 0.25em;
    margin-bottom: 0.2em;
}

// Private link signifier
a.private::after {
    content: "";
    display: inline-block;
    background-image: url("../images/ri--lock-2-line.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    vertical-align: bottom;
    margin-left: 0.25em;
    margin-bottom: 0.2em;
}

// Faceted tables
table.faceted { display: table; width: 95%; }
table.faceted td:last-child { width: 25%; }
tr:hover { background-color: #eee; }

// TDWG-style definitions
h3.tdwg { width: 100%; font-weight: normal; background-color: #6f777d; color: #fff; padding: 0.5rem; border-bottom: none; margin-bottom: 0; }
table.tdwg { display: table; width: 100%; border-collapse: collapse; margin-top: 0; }
table.tdwg th, td { vertical-align: top; padding: 1rem; border-bottom: 1px solid #ccc; }
table.tdwg th { width: 20%; font-weight: normal; }
table.tdwg td p:last-child { margin-bottom: 0; }

ul.tdwg { padding: 0; margin: 0; }
ul.tdwg li { display: inline-block; padding: 0.5rem; border: 1px solid #ccc; margin: 0 0.2rem 0.5em 0; }

ul.examples { list-style-type: none; width: 100%; padding: 0; margin: 0; }
ul.examples li { padding: 0.5rem 0; border-bottom: 1px solid #ccc; }
ul.examples li:first-child { padding-top: 0; }
ul.examples li:last-child { padding-bottom: 0; border: none; }
ul.examples span.term { background-color: #eee; padding: 0.25rem 0.5rem; border-radius: 1rem; }

// Other
div.section-title { font-size: 0.8em; text-decoration: underline; font-variant: small-caps; margin-bottom: 0.3em; }
div.section-title a { color: #555; }

img.icon { width: 2em; height: 2em; }
img.mhicon { width: 1.75em; height: 1.75em; }

.page__content p, .page__content li, .page__content dl { font-size: 1rem; }
.notice, .notice--info, .notice--warning  {
    font-style: normal;
    font-size: 0.9rem !important;
}

.hidden {display: none; }